@import "tailwindcss";

@theme {
  --font-heading: var(--font-montserrat), sans-serif;
  --font-sans: var(--font-inter), sans-serif;

  --color-background: #FAFAFA;
  --color-foreground: #333333;
  --color-primary: #000000;
}

@layer base {
  html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    color: var(--color-primary);
    font-weight: 700;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}